<!DOCTYPE html>
<html lang="en">

<head>
    <title>List customer</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/assets/bootstrapv5-3-2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/customize.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
    <script src="/assets/jquery/jquery-3.7.1.min.js"></script>
    <script src="/assets/jquery/jquery.validate.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

</head>

<body>
<div class="container-fluid">
    <header>
        <nav class="navbar bg-body-tertiary">
            <div class="container-fluid">
                <div class="navbar-brand">List of customers</div>
                <div class="d-flex" style="gap: 10px">
                    <button class="btn btn-outline-light" type="button">
                        <i class="fas fa-history"></i>
                        Transfer histories
                    </button>
                    <button class="btn btn-outline-light" type="button" data-bs-toggle="modal"
                            data-bs-target="#modalCreate">
                        <i class="far fa-plus-square"></i>
                        Add new customer
                    </button>
                </div>
            </div>
        </nav>
    </header>

    <div class="content">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>#</th>
                <th>FullName</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Province</th>
                <th>District</th>
                <th>Ward</th>
                <th>Address</th>
                <th>Balance</th>
                <th colspan="5">Action</th>
            </tr>
            </thead>
            <tbody id="dataCustomer">

            </tbody>
        </table>
    </div>
</div>

<div id="loading" class="sk-chase hide">
    <div class="sk-chase-dot"></div>
    <div class="sk-chase-dot"></div>
    <div class="sk-chase-dot"></div>
    <div class="sk-chase-dot"></div>
    <div class="sk-chase-dot"></div>
    <div class="sk-chase-dot"></div>
</div>

<!--========================NOTIFICATION===============================================-->
<div class="toast-container position-fixed bottom-0 end-0 p-3">
    <div id="liveToast" class="toast align-items-center text-bg-primary border-0" role="alert" aria-live="assertive"
         aria-atomic="true">
        <div class="d-flex">
            <div id="toast-body" class="toast-body">
            </div>
            <button type="button" id="btnCloseToast" class="btn-close btn-close-white me-2 m-auto"
                    data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
    </div>
</div>

<!-- MODAL CREATE -->
<th:block th:replace="customer/modalCreate"/>

<!-- MODAL UPDATE -->
<th:block th:replace="customer/modalUpdate"/>

<!-- MODAL DEPOSIT -->
<th:block th:replace="customer/modalDeposit"/>

<!-- MODAL WITHDRAW -->
<th:block th:replace="customer/modalWithdraw"/>


<script>

    const page = {
        url: {
            getAllProvinces: 'https://vapi.vnappmob.com/api/province/',
            getAllDistrictsByProvinceId: 'https://vapi.vnappmob.com/api/province/district/',
            getAllWardsByDistrictId: 'https://vapi.vnappmob.com/api/province/ward/',
            createCustomer: 'http://localhost:8080/api/customers',
            updateCustomer: 'http://localhost:8080/api/customers',
            depositCustomer: 'http://localhost:8080/api/customers',
            getCustomerById: 'http://localhost:8080/api/customers/'
        },
        elements: {},
        commands: {},
        loadData: {}
    }
    page.elements.dataCustomer = $('#dataCustomer');
    page.elements.btnCreate = $("#btnCreate");
    page.elements.btnUpdate = $("#btnUpdate");
    page.elements.btnDeposit = $("#btnDeposit");
    page.elements.btnWithdraw = $("#btnWithdraw");
    page.elements.modalCreate = $('#modalCreate');
    page.elements.frmCreate = $('#frmCreate');
    page.elements.fullNameCre = $('#fullNameCre');
    page.elements.emailCre = $('#emailCre');
    page.elements.phoneCre = $('#phoneCre');
    page.elements.provinceCre = $('#provinceCre');
    page.elements.districtCre = $('#districtCre');
    page.elements.wardCre = $('#wardCre');
    page.elements.addressCre = $('#addressCre');

    page.elements.modalUpdate = $('#modalUpdate');
    page.elements.frmUpdate = $('#frmUpdate');
    page.elements.fullNameUpdate = $('#fullNameUpdate');
    page.elements.emailUpdate = $('#emailUpdate');
    page.elements.phoneUpdate = $('#phoneUpdate');
    page.elements.provinceUpdate = $('#provinceUpdate');
    page.elements.districtUpdate = $('#districtUpdate');
    page.elements.wardUpdate = $('#wardUpdate');
    page.elements.addressUpdate = $('#addressUpdate');
    page.elements.btnUpdate = $('#btnUpdate');

    page.elements.modalDeposit = $('#modalDeposit');
    page.elements.fullNameDeposit = $('#fullNameDeposit');
    page.elements.emailDeposit = $('#emailDeposit');
    page.elements.balanceDeposit = $('#balanceDeposit');
    page.elements.transactionAmountDeposit = $('#transactionAmountDeposit');

    page.elements.loading = $('#loading');

    page.elements.toastLive = $('#liveToast');
    page.elements.toastBody = $('#toast-body');
    page.elements.btnCloseToast = $('#btnCloseToast');
    page.elements.toastBootstrap = bootstrap.Toast.getOrCreateInstance(page.elements.toastLive);
    let customerId = 0;


    page.loadData.getAllCustomers = async () => {
        const customers = await $.ajax({
            url: "http://localhost:8080/api/customers"
        });

        $.each(customers, (index, item) => {
            page.elements.dataCustomer.prepend(page.commands.renderCustomer(item));
        })

        addEventUpdate();
        addEventDelete();
        addEventDeposit()
        addEventWithdraw();
    }

    page.commands.renderCustomer = (obj) => {
        return `
                <tr id="tr_${obj.id}">
                    <th scope="row">${obj.id}</th>
                    <td>${obj.fullName}</td>
                    <td>${obj.email}</td>
                    <td>${obj.phone}</td>
                    <td>${obj.locationRegion.provinceName}</td>
                    <td>${obj.locationRegion.districtName}</td>
                    <td>${obj.locationRegion.wardName}</td>
                    <td>${obj.locationRegion.address}</td>
                    <td>${obj.balance}</td>
                    <td class="text-center">
                        <button class="btn btn-outline-secondary edit" data-id="${obj.id}">
                            <i class="fa fa-pencil-alt"></i>
                        </button>
                        <button class="btn btn-outline-success deposit" data-id="${obj.id}">
                            <i class="fas fa-plus"></i>
                        </button>
                        <button class="btn btn-outline-warning withdraw" data-id="${obj.id}">
                            <i class="fas fa-minus"></i>
                        </button>
                        <button class="btn btn-outline-primary transfer" data-id="${obj.id}">
                            <i class="fas fa-exchange-alt"></i>
                        </button>
                        <button class="btn btn-outline-danger delete"
                            data-id="${obj.id}">
                            <i class="fas fa-trash-alt"></i>
                        </button>
                    </td>
                </tr>
            `
    }

    // ======================CREATE CUSTOMER========================

    page.elements.btnCreate.on('click', async () => {
        const provinceId = page.elements.provinceCre.val()
        const provinceName = page.elements.provinceCre.find('option:selected').text()
        const districtId = page.elements.districtCre.val()
        const districtName = page.elements.districtCre.find('option:selected').text()
        const wardId = page.elements.wardCre.val()
        const wardName = page.elements.wardCre.find('option:selected').text()
        const address = page.elements.addressCre.val()

        const locationRegion = {
            provinceId,
            provinceName,
            districtId,
            districtName,
            wardId,
            wardName,
            address
        }

        const fullName = page.elements.fullNameCre.val()
        const email = page.elements.emailCre.val()
        const phone = page.elements.phoneCre.val()

        const obj = {
            fullName,
            email,
            phone,
            locationRegion
        }
        page.elements.btnCreate.prop("disabled", true);

        page.elements.loading.removeClass('hide')

        setTimeout(() => {
            $.ajax({
                headers: {
                    "Content-type": "application/json; charset=UTF-8"
                },
                url: "http://localhost:8080/api/customers",
                method: 'POST',
                data: JSON.stringify(obj)
            })
                .done((data) => {
                    const str = page.commands.renderCustomer(data);
                    page.elements.dataCustomer.prepend(str);

                    page.elements.modalCreate.modal('hide');
                    page.elements.toastBody.text('Thêm mới thành công');
                    page.elements.toastBootstrap.show();

                    addEventUpdate();
                    addEventDelete();
                    addEventDeposit()
                    addEventWithdraw();

                    setTimeout(() => {
                        page.elements.btnCloseToast.click()
                    }, 2000);
                })
                .always(() => {
                    page.elements.btnCreate.prop("disabled", false);
                })
        }, 1000);
    })

    // ======================UPDATE CUSTOMER========================

    page.elements.btnUpdate.on('click', async () => {
        page.elements.btnUpdate.prop("disabled", true);

        const provinceId = page.elements.provinceUpdate.val()
        const provinceName = page.elements.provinceUpdate.find('option:selected').text();
        const districtId = page.elements.districtUpdate.val()
        const districtName = page.elements.districtUpdate.find('option:selected').text();
        const wardId = page.elements.wardUpdate.val()
        const wardName = page.elements.wardUpdate.find('option:selected').text();
        const address = page.elements.addressUpdate.val()

        const locationRegion = {
            provinceId,
            provinceName,
            districtId,
            districtName,
            wardId,
            wardName,
            address
        }

        const fullName = page.elements.fullNameUpdate.val()
        const phone = page.elements.phoneUpdate.val()

        const customer = {
            fullName,
            phone,
            locationRegion
        }

        $.ajax({
            headers: {
                "Content-type": "application/json; charset=UTF-8"
            },
            type: 'PATCH',
            url: page.url.updateCustomer + '/' + customerId,
            data: JSON.stringify(customer)
        })
            .done((data) => {
                console.log(data)
                const updateRow = $('#tr_' + customerId)
                const str = page.commands.renderCustomer(data)
                updateRow.replaceWith(str)

                page.elements.modalUpdate.modal('hide');
                page.elements.toastBody.text('Chỉnh sửa thành công');
                page.elements.toastBootstrap.show();

            })
            .fail((err) => {
                const responseJSON = err.responseJSON

                if (responseJSON) {
                    let str = '<ul>'
                    $.each(responseJSON, (k, v) => {
                        if (k.includes('.')) {
                            str += `<li><label for="${k.split('.')[1] + 'Cre'}">${v}</label></li>`
                        } else {
                            str += `<li><label for="${k + 'Up'}">${v}</label></li>`
                        }

                    })

                    str += '</ul>'

                    $('#modalUpdate .area-error').append(str).removeClass('hide').css('display', '')
                }
            })
            .always(() => {
                page.elements.btnUpdate.prop("disabled", false);
                page.elements.loading.addClass('hide')
            });

        addEventUpdate();
        addEventDelete();
        addEventDeposit()
        addEventWithdraw();
    })

    // page.elements.btnCreate.on('click', async () => {
    //     page.elements.frmCreate.trigger('submit')
    // })
    //
    // page.elements.btnUpdate.on('click', async () => {
    //     page.elements.frmUpdate.trigger('submit');
    // })

    // ======================DEPOSIT CUSTOMER========================

    page.elements.btnDeposit.on('click', async () => {
        const fullName = page.elements.fullNameDeposit.val();
        const email = page.elements.emailDeposit.val();
        var balance = page.elements.balanceDeposit.val();
        var transactionAmount = page.elements.transactionAmountDeposit.val();

        balance = parseFloat(balance);
        transactionAmount = parseFloat(transactionAmount);
        if (transactionAmount <= 0 || transactionAmount > 1000000) {
            return;
        }
        balance = balance + transactionAmount;

        const obj = {
            balance
        }

        $.ajax({
            headers: {
                "Content-type": "application/json; charset=UTF-8"
            },
            type: 'PATCH',
            url: page.url.depositCustomer + '/' + customerId,
            data: JSON.stringify(obj)
        })
            .done((data) => {
                console.log(data)
                const updateRow = $('#tr_' + customerId)
                const str = page.commands.renderCustomer(data)
                updateRow.replaceWith(str)

                page.elements.modalUpdate.modal('hide');
                page.elements.toastBody.text('Nạp tiền thành công');
                page.elements.toastBootstrap.show();

            })
            .fail((err) => {
                const responseJSON = err.responseJSON

                if (responseJSON) {
                    let str = '<ul>'
                    $.each(responseJSON, (k, v) => {
                        if (k.includes('.')) {
                            str += `<li><label for="${k.split('.')[1] + 'Cre'}">${v}</label></li>`
                        } else {
                            str += `<li><label for="${k + 'Up'}">${v}</label></li>`
                        }

                    })

                    str += '</ul>'

                    $('#modalUpdate .area-error').append(str).removeClass('hide').css('display', '')
                }
            })
            .always(() => {
                page.elements.btnUpdate.prop("disabled", false);
                page.elements.loading.addClass('hide')
            });

        addEventUpdate();
        addEventDelete();
        addEventDeposit()
        addEventWithdraw();
    })

    // ======================WITHDRAW CUSTOMER========================

    page.elements.btnWithdraw.on('click', async () => {
        const fullName = $('#fullNameWithdraw').val();
        const email = $('#emailWithdraw').val();
        var balance = $('#balanceWithdraw').val();
        var transactionAmount = $('#transactionAmountWithdraw').val();

        balance = parseFloat(balance);
        transactionAmount = parseFloat(transactionAmount);
        if (transactionAmount > balance || transactionAmount <= 0) {
            return;
        }
        balance = balance - transactionAmount;

        const obj = {
            balance
        }

        const response = await fetch("http://localhost:8080/api/customers/" + customerId, {
            method: 'PATCH',
            headers: {
                "Content-type": "application/json; charset=UTF-8"
            },
            body: JSON.stringify(obj)
        });
        const withdrawCustomer = await response.json();

        const updateRow = $('#tr_' + customerId)
        updateRow.replaceWith(page.commands.renderCustomer(withdrawCustomer));

        closeModal('modalWithdraw');
        page.elements.toastBody.text('Rut tiền thành công')
        page.elements.toastBootstrap.show()

        addEventUpdate();
        addEventDelete();
        addEventDeposit()
        addEventWithdraw();

        setTimeout(() => {
            page.elements.btnCloseToast.click()
        }, 2500);
    })


    page.loadData.getCustomerById = async () => {
        return await $.ajax({
            url: page.url.getCustomerById + customerId,
        })
    }

    page.elements.modalCreate.on('hidden.bs.modal', () => {
        $('#modalCreate .area-error').empty().addClass('hide');
        $('#frmCreate').trigger('reset')
        $('#frmCreate input').removeClass('error')
        $('#frmCreate label.error').remove()
    })

    page.elements.modalUpdate.on('hidden.bs.modal', () => {
        $('#modalUpdate .area-error').empty().addClass('hide');
        page.elements.frmUpdate.trigger('reset')
        $('#frmUpdate input').removeClass('error')
        $('#frmUpdate label.error').remove()
    })


    function addEventUpdate() {
        const btnUpdateElems = $('.edit');
        btnUpdateElems.off('click');
        $.each(btnUpdateElems, (index, item) => {
            $(item).on('click', async () => {
                customerId = $(item).data('id')
                const customer = await page.loadData.getCustomerById(customerId);
                console.log(customer)

                page.elements.fullNameUpdate.val(customer.fullName);
                page.elements.emailUpdate.val(customer.email);
                page.elements.phoneUpdate.val(customer.phone);
                page.elements.addressUpdate.val(customer.locationRegion.address)


                page.commands.getAllDistricts(customer.locationRegion.provinceId, page.elements.districtUpdate)

                page.elements.districtUpdate.val(customer.locationRegion.districtId);

                page.commands.getAllWards(customer.locationRegion.districtId, page.elements.wardUpdate)

                page.elements.wardUpdate.val(customer.locationRegion.wardId);

                page.elements.provinceUpdate.val(customer.locationRegion.provinceId);

                page.elements.modalUpdate.modal('show');
            })
        })
    }

    function addEventWithdraw() {
        const btnShowWithdraw = $('.withdraw')
        btnShowWithdraw.off('click');
        $.each(btnShowWithdraw, (index, item) => {
            $(item).on('click', async () => {
                customerId = $(item).data('id')
                const customer = await getCustomerById(customerId);
                $('#modalWithdraw').modal('show');
                $('#fullNameWithdraw').val(customer.fullName);
                $('#emailWithdraw').val(customer.email);
                $('#balanceWithdraw').val(customer.balance);
            })
        })
    }

    function addEventDeposit() {
        const btnShowDeposit = $('.deposit')
        btnShowDeposit.off('click');
        $.each(btnShowDeposit, (index, item) => {
            $(item).on('click', async () => {
                customerId = $(item).data('id');
                const customer = await page.loadData.getCustomerById(customerId);
                page.elements.modalDeposit.modal('show');

                page.elements.fullNameDeposit.val(customer.fullName);
                page.elements.emailDeposit.val(customer.email);
                page.elements.balanceDeposit.val(customer.balance);
            })
        })
    }

    function addEventDelete() {
        const btnDelete = $('.delete');
        btnDelete.off('click');
        $.each(btnDelete, (index, item) => {
            $(item).on('click', async () => {
                customerId = $(item).data('id')

                await $.ajax({
                    url: "http://localhost:8080/api/customers/" + customerId,
                    method: 'DELETE'
                }).done(() => {
                    $('#tr_' + customerId).remove();
                    page.elements.toastBody.text('Xoá khách hàng thành công');
                    page.elements.toastBootstrap.show();

                    setTimeout(() => {
                        page.elements.btnCloseToast.click()
                    }, 2500);
                })
            })
        })
    }

    page.commands.getAllProvinces = () => {
        return $.ajax({
            url: page.url.getAllProvinces
        })
            .done((data) => {
                const provinces = data.results;

                $.each(provinces, (index, item) => {
                    const str = `<option value="${item.province_id}">${item.province_name}</option>`

                    page.elements.provinceCre.append(str)
                    page.elements.provinceUpdate.append(str)
                })
            })
    }

    page.commands.getAllDistricts = async (provinceId, elem) => {
        await $.ajax({
            url: page.url.getAllDistrictsByProvinceId + provinceId
        })
            .done((data) => {
                $(elem).empty();

                const districts = data.results;

                $.each(districts, (index, item) => {
                    const str = `<option value="${item.district_id}">${item.district_name}</option>`

                    $(elem).append(str)
                })
            })
    }

    page.commands.getAllWards = (districtId, elem) => {
        $.ajax({
            url: page.url.getAllWardsByDistrictId + districtId
        })
            .done((data) => {
                $(elem).empty();

                const wards = data.results;

                $.each(wards, (index, item) => {
                    const str = `<option value="${item.ward_id}">${item.ward_name}</option>`

                    $(elem).append(str)
                })
            })
    }

    page.elements.provinceCre.on('change', async function () {
        const provinceId = $(this).val()

        await page.commands.getAllDistricts(provinceId, page.elements.districtCre)
        const districtId = page.elements.districtCre.find('option:selected').val()

        page.commands.getAllWards(districtId, page.elements.wardCre)

    })

    page.elements.provinceUpdate.on('change', async function () {
        const provinceId = $(this).val()

        await page.commands.getAllDistricts(provinceId, page.elements.districtUpdate)
        const districtId = page.elements.districtUpdate.find('option:selected').val()

        page.commands.getAllWards(districtId, page.elements.wardUpdate)
    })

    page.elements.districtCre.on('change', function () {
        const districtId = $(this).val()

        page.commands.getAllWards(districtId, page.elements.wardCre)
    })

    page.elements.districtUpdate.on('change', function () {
        const districtId = $(this).val()

        page.commands.getAllWards(districtId, page.elements.wardUpdate)
    })


    $(async () => {
        page.loadData.getAllCustomers();

        await page.commands.getAllProvinces();

        const provinceId = page.elements.provinceCre.find('option:selected').val()

        await page.commands.getAllDistricts(provinceId, page.elements.districtCre);

        const districtId = page.elements.districtCre.find('option:selected').val()

        page.commands.getAllWards(districtId, page.elements.wardCre)
    })
</script>
</body>

</html>